<nav class="navbar is-fixed-top is-transparent is-semi-transparent is-front">
  <div class="navbar-brand">
    <a class="navbar-item" href="/"><figure class="image is-16x16"><img src="/assets/img/favicon.png"/></figure></a>
    <a class="navbar-item is-size-7-mobile" href="/products/">products</a>
    <a class="navbar-item is-size-7-mobile" href="/services/">services</a>
    <a class="navbar-item is-size-7-mobile" href="/team/">team</a>
    <div class="navbar-burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <a class="navbar-item is-size-7-mobile" href="mailto:labs@jaaga.in">labs@jaaga.in</a>
      <a class="navbar-item" href="http://jaaga.in" target="_blank"><img src="/assets/img/brandmark.png"/></a>
    </div>
  </div>
</nav>