<nav class="navbar is-fixed-top is-transparent is-front">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">/</a>
    <a class="navbar-item" href="/products/">products</a>
    <a class="navbar-item" href="/services/">services</a>
    <a class="navbar-item" href="/team/">team</a>
    <div class="navbar-burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <a class="navbar-item" href="mailto:labs@jaaga.in">labs@jaaga.in</a>
      <a class="navbar-item" href="http://jaaga.in" target="_blank"><img src="/assets/img/favicon.png"/></a>
    </div>
  </div>
</nav>